* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Comic Sans MS", American Typewriter, Arial, sans-serif;
  background-color: #e6ffff;
}
header {
  background: url('../header-plaatje.jpg') repeat;
  margin: auto;
  width: 50%;
  padding: 10px;
  width: 990px;
  height: 130px;
}

header h2 {
  font-size: 300%;
  font-family: "Comic Sans MS", American Typewriter, Arial, sans-serif;
  color: #ff6666;
  text-shadow: 2px 2px 4px #0f0f0a;
  text-align:center;
  margin-top: 25px;
  width: 100%;
}

/*navigatie balk*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1px;
  overflow: hidden;
  background-color: #b57ba6;
  font-size: 20px;
}

nav {
  position: sticky;
  top: 0px;
}

nav li{
  float: left;
  text-align: center;
  margin: auto;
}

nav li a {
    display: inline-block;
    color: black;
    text-align: left;
    padding: 21px 30px;
    text-decoration: none;
}

/* blink for Firefox, IE en Chrome */
@keyframes blink {
    from {background-color: #006fb6;}
    to {background-color: #80dfff;}
}

/* blink for Safari */
@-webkit-keyframes blink {
    from {background-color: #006fb6;}
    to {background-color: #FFBC25;}
}

nav li a:hover {
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: ease;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  color: #0f0f0a;
}

section {
  border: double 4px black;
  margin: auto;
  width: 60%;
  padding: 20px;
  width: auto;
  height: auto;
}

section article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 8px 5px 8px;
  padding: 10px;
  background: white;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 1010px;
}

footer {
  background: #e6ffff;
}

footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}

p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

.badges{
  text-align: center;
}
